<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./style/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./iconfont/iconfont.css">
</head>
<body>
<div style="display: none" id="app" v-focus v-dragfile="openFile" @mouseenter="mouseenter($event)" @mouseleave="mouseout($event)" @keyup="switchKeyborad($event)" tabindex="0">
    <transition name="fade">
        <div v-if="isMouseEnter" class="title">
            <span v-text="currentName"></span>
            <span>{{image.width}}x{{image.height}}</span>
            <span v-if="files.length>1" class="page">{{currentIndex+1}}/{{files.length}}</span>
            <span :class="{iconfont:true,'icon-icon-':true,'set-top':true,active:top}" @click="setTop()" title="alwaysOnTop"></span>
        </div>
    </transition>

    <div class="img-wrap">
        <transition name="fade">
            <div v-if="isMouseEnter&&files.length>1" class="switch left" @click="prev()"><span class="iconfont icon-changyongicon-1"></span></div>
        </transition>
        <transition name="fade">
            <div v-if="isMouseEnter&&files.length>1" class="switch right" @click="next()"><span class="iconfont icon-changyongicon-"></span></div>
        </transition>
        <img v-drag="{image:image}" v-if="image.src" :style="{left:image.drag?image.x+'px':'',top:image.drag?image.y+'px':'',transition:'all .2s',transform:'rotate('+image.rotate+'deg)',width:image.width+'px',height:image.height+'px'}" class="preview" :src='image.src'/>
    </div>
    <div class="toolbar">
        <div class="btns">
            <span class="iconfont icon-Zoomout" @click="setScale('min')"></span>
            <span class="zoom">{{image.zoom}}%</span>
            <span class="iconfont icon-Zoomin" @click="setScale('max')"></span>
            <span class="iconfont icon-rotate-left" @click="rotate()"></span>
<!--            <span class="iconfont icon-icon-test"></span>-->
        </div>
    </div>
</div>
<script type="text/javascript" src="lib/vue.js"></script>
<script type="text/javascript" src="lib/drag.js"></script>
<script type="text/javascript" src="quick.view.js"></script>
</body>
</html>